@import "./theme/theme.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 80vw;
  background-color: $background-alt;
  box-shadow: $box-shadow-light;
  border-radius: $border-radius-large;
  transition: box-shadow 0.3s ease-in-out; // Smooth transition for hover effect

  &:hover {
    box-shadow: $box-shadow-dark;
  }

  .score-board {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $background-color-dark;
    padding: $padding-regular;
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
    box-shadow: $box-shadow-dark;

    .score-item {
      color: $text-color-light;
      font-size: $font-size-regular;
    }

    .heading {
      font-size: $font-size-heading;
      font-weight: bold;
      color: $text-color-light;
      text-align: center;
    }
  }

  .guess-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .description {
      color: $text-color-light;
      font-size: $font-size-regular;
      font-weight: bold;
      margin: $margin-regular;
    }

    .input {
      @include inputStyle(default);
      margin: $margin-regular;
      width: 100%;
      outline: none; // Remove default outline

      &:focus {
        border: $border-color-accent;
        box-shadow: $box-shadow-dark;
        cursor: text;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        color: $text-color-dark;
      }
    }

    .button {
      @include buttonStyle(primary);
      width: 100%;
      // max-width: 200px;
      margin: $margin-small auto;
    }
  }
}
