@import "./theme/theme.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 85vh;
  width: 85vw;
  background-color: $background-alt;
  box-shadow: $box-shadow-light;
  border-radius: $border-radius-large;

  position: relative;

  &:hover {
    box-shadow: $box-shadow-dark;
  }

  .containerHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(
      45deg,
      $background-color-dark,
      $background-accent
    );
    padding: $padding-large;
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
    box-shadow: $box-shadow-dark;
    color: $text-color-light;
    margin-bottom: $margin-regular;

    .subHead {
      display: flex;
      align-items: center;
      font-size: $font-size-regular;
    }

    .playAgainBtn {
      @include linkStyle(default);

      &:hover {
        color: darken($accent-color, 10%);
      }
    }
  }

  .tableWrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .tableContainer {
    width: 80%;
    border-radius: $border-radius-large;
    animation: fadeIn 1s ease-in-out;
    &:hover {
      box-shadow: $box-shadow-dark;
    }
    .scoreTable {
      width: 100%;
      border-radius: $border-radius-small;
      overflow: hidden;
      border-collapse: collapse; // Re-enabled for consistent borders

      th,
      td {
        padding: $padding-small;
        text-align: center;
        font-size: $font-size-regular;
        transition: background-color 0.3s, color 0.3s;
      }

      th {
        background-color: $background-color-dark;
        color: $text-color-light;
        border-bottom: 1px solid $background-color-light;
      }

      tr:nth-child(even) td {
        background-color: $background-color-light;
        color: $text-color-dark;
      }
      tr:nth-child(odd) td {
        background-color: $background-color-dark;
        color: $text-color-light;
      }

      tr:hover td {
        background-color: $background-accent;
        color: $text-color-light;
      }

      tr {
        color: $text-color-dark;
        &:hover {
          background: linear-gradient(
            -45deg,
            $background-accent,
            $background-alt
          );
        }
      }

      th:first-child {
        border-top-left-radius: $border-radius-medium;
      }

      th:last-child {
        border-top-right-radius: $border-radius-medium;
      }
      tr:last-child td:first-child {
        border-bottom-left-radius: $border-radius-medium;
      }

      tr:last-child td:last-child {
        border-bottom-right-radius: $border-radius-medium;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
