@import "./theme/theme.scss";

.navLink {
  @include linkStyle(default);
  color: $text-color-light;
  margin: $margin-small $margin-regular;
  padding: $padding-small 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; // Centering vertically

  // &:hover {
  //   color: $text-color-accent;
  // }

  &::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: $link-hover-color;
    transition: width 300ms ease-in-out; // Smooth hover transition
  }

  &:hover::before {
    width: 100%; // Expand to full width on hover
  }
}

.activate {
  padding: $padding-small;
  position: relative; // Ensure the underline can be positioned properly
  box-shadow: $box-shadow-light;
  &::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%; // Underline should always be 100% width
    background-color: $link-hover-color;
  }
}
