@import "./theme/theme.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  width: 85vw;
  background-color: $background-alt;
  box-shadow: $box-shadow-light;
  border-radius: $border-radius-large;

  &:hover {
    box-shadow: $box-shadow-dark;
  }

  .containerHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(
      45deg,
      $background-color-dark,
      $background-accent
    );
    padding: $padding-large;
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
    box-shadow: $box-shadow-dark;
    color: $text-color-light;

    .subHead {
      display: flex;
      align-items: center;
      font-size: $font-size-regular;
    }

    .playAgainBtn {
      @include linkStyle(default);

      &:hover {
        color: darken($accent-color, 10%);
      }
    }
  }

  // New flex container for rules content
  .content {
    display: flex;
    flex: 1; // Makes sure this section takes all the remaining space
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .rulesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    background-color: $background-color-light;
    padding: $padding-large;
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow-light;
    animation: fadeIn 1s ease-in-out;
    &:hover {
      box-shadow: $box-shadow-dark;
    }

    .rulesHeading {
      font-size: $font-size-heading;
      color: $text-color-dark;
      margin-bottom: $margin-regular;
    }

    .rulesList {
      list-style-type: decimal;
      padding-left: $padding-regular;

      .ruleItem {
        font-size: $font-size-regular;
        color: $text-color-dark;
        margin-bottom: $margin-small;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
